{% extends 'base.html' %}
{% block content %}

    <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Webcam Detection</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Yolov5</div>
                                        <div class="h2 fw-bolder">Automatic Helmet Detection in Webcam</div>
                                        <p>Deep Learning based safety Helmet Detection based on Convolutional Neural Network</p>


                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url({% url 'web' %})"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


   {% endblock %}